* {
    margin: 0;
    padding: 0;
    font-family: ;
}
footer {
    margin: 2em 5% 0;
}
.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em auto;
    padding-bottom: 2em;
    border-bottom: solid 1px gray;
}

.top_left,
.top_right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 35%;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_bottom ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5em auto 4em;
}
.footer_bottom li a {
    color: black;
    text-decoration: none;
}
.bottom_middle ul {
    wi
}
.bottom_middle p {
    font-size: .7em;
}
