* {
    margin: 0;
    padding: 0;
    font
}

h1 {
    margin-right: 35%;
    font-size: 2em;
    font-style: italic;
}
.logo_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

