body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  top: 0;
  margin: 0;
}

h1,
h2,
h3,
h5 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
}

h1 {
  color: #828282;
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  color: #18A0FB;
  border-color: #18A0FB;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.parents {
  font-size: 100px;
}

.professional {
  font-size: 64px;
}

.container_colored_blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
}

.main_colored_block {
  background-color: #27AE60;
  padding: 15px;
}

.secundary_colored_block {
  display: flex;
  flex-direction: column;
}

.professional_block {
  background-color: #EEC559;
  padding: 15px;
}

.maternity_block {
  background-color: #E599DD;
  padding: 15px;
}

.helping_out {
  background-color: #F16F76;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  border-radius: 20px;
}

.magali {
  background-color: #FFB8BC;
  margin: 20px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.trees {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.video {
  background-color: #E98389;
  padding: 20px;  
}

.covid {
  background-color: #F16F76;
  padding: 20px;
}

.blog {
  color: #4F4F4F;
  background-color: #F16F76;
  padding: 20px;
}

.main_container_blog {
  color: #828282;
  display: flex;
  flex-direction: column;
}

.partners {
  background-color: #F5F5F5;
}

.main_container_partners {
  display: flex;
  flex-direction: column;
}

.main_container_partners h4 {
  color: #4F4F4F;
}

.main_container_partners p {
  color: #828282;
}

.main_container_book {
  background-color: #F5F5F5;
}

/* @media screen and (max-width: 768px) {}
@media screen and (min-width: 768px) and (max-width: 992px) {}
@media screen and (min-width: 992px) and (max-width: 1200px) {} */
@media screen and (min-width: 1200px) {

  .container_colored_blocks {
    flex-direction: row;
    height: 500px;
  }

  .professional_block {
    height: 250px;
  }

  .maternity_block {
    height: 250px;
  }

  .main_container_blog {
    flex-direction: column;
  }

  .containers_blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    margin: 50px;
  }

  .small_containers_blog {
    width: 20%;
  }

  .helping_out {
    flex-direction: row;
    width: 80%;
    margin: 10%;
  }

  .trees {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .joy {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .video {
    width: 50%;
  }

  .covid {
    width: 50%;
  }

  .main_container_partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  .containers_partners {
    width: 25%;
    margin: 50px;
  }

  .main_container_book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0;
  }

  .text_book {
    width: 60%;
    padding: 100px 200px 100px 100px;
  }

  .picture_book {
    padding: 50px;
  }

} 